@if(!manageVarticipantesShow && !loading) {
<div class="container">
    <div class="row my-3">
        <div class="col-2 d-flex p-0 align-items-center justify-content-center">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"
                (click)="back()"></mat-icon>
        </div>
        <div class="col p-0">
            <h1 class="m-0">Datos de la sesión</h1>
        </div>
    </div>
    <form class="container" [formGroup]="newSessionForm">
        <mat-form-field class="w-100">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="session_date" (dateChange)="parseFecha()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Hora</mat-label>
            <input matInput type="time" formControlName="session_time" (change)="parseFecha()">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Tipo de sesión</mat-label>
            <mat-select formControlName="type">
                @for (tipo of tiposSesiones; track tipo) {
                <mat-option [value]="tipo">{{tipo.type_normalized}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Tipo de crono</mat-label>
            <mat-select formControlName="timerMode">
                <mat-option *ngFor="let mode of timerModes" [value]="mode.value">{{ mode.label }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="sessionSendActive" formControlName="sendActive">
            <label class="form-check-label" for="sessionSendActive">Enviar resultados habilitado</label>
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="sessionActive" formControlName="active">
            <label class="form-check-label" for="sessionActive">Sesión activa</label>
        </div>
    </form>

    <div class="row w-75 m-auto">
        <button class="btn btn-primary my-3 col-12 action-button" (click)="manageParticipants()">Administrar
            participantes</button>
        <button class="btn btn-primary my-3 col-12 col-md-6 action-button" (click)="processAction()">{{action}}</button>
        @if(action === 'Editar') {
        <button class="btn btn-primary my-3 col-12 col-md-6 action-button delete-button"
            (click)="delete(session.id!)">Borrar</button>
        }
    </div>
</div>
} @else if (!loading){
<div class="container">
    <app-participantes [session]="session"></app-participantes>
    <div class="row">
        <button class="btn btn-primary action-button" (click)="manageParticipants()">Volver</button>
    </div>
</div>
}
