<div class="p-3 px-md-5 mb-2 background-rojo text-light">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center me-2">
                <a routerLink="/">
                    <img class="img-fluid img-header" src="../../../assets/img/logo-intranet.png">
                </a>
            </div>
            <span class="h2 m-0">
                Cronómetro FFSJ
            </span>
        </div>
    </div>
</div>