<div class="p-3 px-md-5 background-rojo text-light w-100">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center me-2">
                <a routerLink="/">
                    <img class="img-fluid img-header" src="../../../assets/img/logo-intranet.png">
                </a>
            </div>
            <span class="h2 m-0">
                Cronómetro FFSJ
            </span>
        </div>
        <mat-icon aria-hidden="false" fontIcon="menu" (click)="openNav()"></mat-icon>
    </div>
</div>

<div id="mySidenav" class="sidenav" [ngClass]="{'open': sidenavOpen}">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <a (click)="navigateTo('admin')">Administración</a>
    <a (click)="navigateTo('asociaciones')">Asociaciones</a>
    <a (click)="navigateTo('sesiones')">Sesiones</a>
    <a (click)="authService.logout()">Cerrar sesión</a>
</div>