.danger {
    background-color: var(--color-red-crimson);
}

.warning {
    background-color: var(--color-warning);
}

.good {
    background-color: var(--color-light-green);
}

.col {
    align-self: center;
    p{
        margin: 0;
    }
}

.full-screen{
    font-size: 36vw !important;
}

.timer {
    height: 100%;
    width: 100%;
    font-size: 35vh;
}

@media screen and (width < 768px){
    .timer {
        font-size: 10vh;
    }
}

@media screen and (orientation: landscape) {
    .full-screen{
        font-size: 50vh;
    }
}