<div class="row w-50">
    <div class="col-6">
        <label for="initialMin">Minutos iniciales</label>
        <input id="initialMin" type="number" class="form-control" [(ngModel)]="initialMin" min="0">
    </div>
    <div class="col-6">
        <label for="initialSec">Segundos iniciales</label>
        <input id="initialSec" type="number" class="form-control" [(ngModel)]="initialSec" min="0" max="59">
    </div>
</div>

<div class="mt-2">
    <button class="btn btn-primary" (click)="setInitialTimer()">Establecer timer inicial</button>
</div>